/**/

body {
	margin: 0px;
}

h1 {
	font: 20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0px;
}

h2 {
	font: 15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

p {
	font: 13px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}	

#map {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.StoryNav {
	position: fixed;
	top: 10px;
	right: 460px;
	z-index: 1;

}

.TutorialLayer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 1000px;
  z-index: 10;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  padding-left: auto;  
  padding-right: auto;
  width: 180px;
  text-align: center;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}


.ChapList {
	display: none;
	top: 0px;
	right: 30vw;
 	position: absolute;
 	margin: 10px;
 	/*background-color: white;*/
 	overflow: visible;
	width: 0px;
	z-index: 2;
    /*box-shadow: 0px 0px 8px 0px #888888;*/
 }

.ChapItem {
 	width: 37px;
 	/*overflow: hidden;*/
 	/*transition: 0.5s;*/
	/*max-height: 35px;*/
	float: right;
 	background-color: black;
 	margin: 1px;
 	margin-top: 10px;
 	border-radius: 5px;
 	display: block;
 	padding: 2px;
 	border: solid; 	
 	border-color: white;
 	border-radius: 5px;
 	border-width: 1px;
}

.ChapItem.selected{
 	/*background-color: rgb(190, 190, 255);
 	border-radius: 0px;
 	border-color: black;
 	border: solid;
 	border-width: 1px;
 	*/width: 37px;
 }


.SubChapItem.selected{
 	background-color: rgb(190, 190, 255);
 	/*border-radius: 0px;
 	border-color: black;
 	border: solid;
 	border-width: 1px;
 	*/width: 35px;

 }

.SubChapItem {
 	width: 35px;
 	overflow: hidden;
 	/*transition: 0.5s;*/
	max-height: 1em;
	float: right;
	/*border-bottom: 1px solid #ddd;*/
	/*background-color: #ddd;*/
	/*opacity: 0.5;*/
 	background-color: white;
 	margin: 1px;
 	border-radius: 5px;

}

.SubChapItem:hover {
	width: max-content; 	/*max content does not animate*/
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}

/*.ChapItem:hover {
	width: max-content; 
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}*/

.ChapItem:hover > .ChapItemLogo {
	float: right;
}
.ChapItem:hover > .ChapItemBtn {
	float: left;
}
.SubChapItem:hover  > .ChapItemLogo {
	float: right;
}
.SubChapItem:hover > .ChapItemBtn {
	float: left;
}

.ChapItemLogo {
	max-width: 25px;
	max-height: 25px;
	padding: 5px;
	float: left;
}

.ChapItemBtn {
	/*float: left;*/
	color: black;
	font-size: 15px;
	padding: 3px;
	border-width: 0px;
	/*background-color: unset;*/
	float: right;
	transform: translate(0px, -10px);
/*	line-height: 35px;
	top: 0px;
*/}

.logo{
	position: absolute;
	width: 300px;
	top: 10px;
	left: 50vw;
	transform: translate(-50%, 0);
	background-color: rgba(255, 255, 255, 0);
	border-radius: 5px;
	box-shadow: rgb(255, 255, 255);
	z-index: 1;
}

.textbox {
	position: fixed;
	width: 25vw;
	bottom: 40px;
	left: 10px;
	z-index: 1;
	padding: 10px;
	border-radius: 10px;
	/*display: none;*/
	font: 13px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: bold;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.9);
	background-color: rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    max-height: 25vh;
    /*color: black;*/
}

.Legenda {
	position: fixed;
	bottom: 35px;
	left: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
}

h3.Legenda {
	font-size: 30px;
	font-family: sans-serif;
	color: red !important;
}

.color {
    min-width: 100px;
    /*height: 1.5em;*/
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    /*text-align: center;*/
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.9);
}


/*Thie is the CSS for the right scrolling story line*/
.stories {
	position: absolute;
	width: 450px;
	height: 100vh;
	right: 0px;
	overflow-y: auto;
	z-index: 1;
}


.StoryContainer:first-child {
	background-color: rgba(255, 255, 255, 0.95);
}

.StoryContainer {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	margin: 10px;
	color: black;
}

.story {
	padding: 15px 25px 0px 25px;
	text-align: justify;
}

.story h1 {
	text-align: center;
}

.substory {
	max-height: 3.25em;
	padding-left: 30px;
	background-color: white;
	min-height: 10px;
	padding-top: 0px;
	overflow: hidden;
	border-radius: 2px;
	margin-top: 2px;
	opacity: 0.7;
	color: black;
	padding-right: 30px;
	text-align: justify;

}

.substory:hover {
	cursor: pointer;
}

.substory:hover {
	opacity: 1;
}



.substory.selected {
 	max-height: none;
 	opacity: 1;
}

.substory.selected:hover {
 	background-color: white;
 	max-height: none;
}

.storyimg {
	max-width: calc(30vw - 40px);
}

.mapboxgl-ctrl-bottom-right {
	transform: translate(-30vw, 0);
}


.infoicon {
    position: relative;
    display: inline-block;
    height: 0.9em;
    margin-left: 0.3em;
    top: 0.1em;
}

.tooltiptext {
    visibility: hidden;
    transform: translate(0, 5px);
    width: 75%;
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;

    font: 13px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: -8%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent rgba(0,0,0,0.85) transparent;
}

.infoicon:hover ~.tooltiptext {
    visibility: visible;
}1



/*=========================Layer toggles==============================*/
/*.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

 /*Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/
/*=======================end layer toggles===============================*/