/**/

body {
	margin: 0px;
}

h1 {
	font: 20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

p {
	font: 13px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}	

#map {
    position: absolute;
    width: 67vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.ChapList {
	top: 0px;
	right: calc(33vw);
 	position: absolute;
 	margin: 10px;
 	/*background-color: white;*/
 	overflow: visible;
	width: 0px;
	z-index: 2;
    /*box-shadow: 0px 0px 8px 0px #888888;*/
 }

.ChapItem.selected{
 	background-color: rgb(190, 190, 255);
 	/*border-radius: 0px;
 	border-color: black;
 	border: solid;
 	border-width: 1px;
 	*/width: 35px;
 }

.ChapItem {
 	width: 35px;
 	overflow: hidden;
 	/*transition: 0.5s;*/
	max-height: 35px;
	float: right;
 	background-color: white;
 	margin: 1px;
 	margin-top: 10px;
 	border-radius: 5px;
 	display: block;
}

.SubChapItem.selected{
 	background-color: rgb(190, 190, 255);
 	/*border-radius: 0px;
 	border-color: black;
 	border: solid;
 	border-width: 1px;
 	*/width: 35px;

 }

.SubChapItem {
 	width: 35px;
 	overflow: hidden;
 	/*transition: 0.5s;*/
	max-height: 35px;
	float: right;
	/*border-bottom: 1px solid #ddd;*/
	/*background-color: #ddd;*/
	/*opacity: 0.5;*/
 	background-color: white;
 	margin: 1px;
 	border-radius: 5px;

}

.SubChapItem:hover {
	width: max-content; 	/*max content does not animate*/
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}

.ChapItem:hover {
	width: max-content; 	/*max content does not animate*/
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}

.ChapItem:hover > .ChapItemLogo {
	float: right;
}
.ChapItem:hover > .ChapItemBtn {
	float: left;
}
.SubChapItem:hover  > .ChapItemLogo {
	float: right;
}
.SubChapItem:hover > .ChapItemBtn {
	float: left;
}

.ChapItemLogo {
	max-width: 25px;
	max-height: 25px;
	padding: 5px;
	float: left;
}

.ChapItemBtn {
	/*float: left;*/
	color: black;
	font-size: 15px;
	padding: 3px;
	border-width: 0px;
	/*background-color: unset;*/
	float: right;
	transform: translate(0px, -10px);
/*	line-height: 35px;
	top: 0px;
*/}

.logo{
	position: absolute;
	width: 300px;
	top: 10px;
	left: 50vw;
	transform: translate(-50%, 0);
	background-color: rgba(255, 255, 255, 0);
	border-radius: 5px;
	box-shadow: rgb(255, 255, 255);
	z-index: 1;
}

.textbox {
	position: fixed;
	width: 25vw;
	bottom: 40px;
	left: 10px;
	z-index: 1;
	padding: 10px;
	border-radius: 10px;
	/*display: none;*/
	font: 13px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: bold;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.9);
	background-color: rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    max-height: 25vh;
    /*color: black;*/
}

.hoverinfo {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: auto;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
}

#hoverinfotest {
	font-size: 13px;
	font-family: sans-serif;
}
h3.hoverinfo {
	font-size: 30px;
	font-family: sans-serif;
	color: red !important;
}



/*Thie is the CSS for the right scrolling story line*/
.stories {
	position: absolute;
	width: calc(33vw);
	height: 100vh;
	right: 0px;
	overflow-y: auto;
}

.story, .substory {
	min-height: 10px;
	background-color: white;
	padding: 20px;
	padding-top: 0px;
	overflow: hidden;
	/*transition: transform 0.2s ease-out;*/
}

.story {
	max-height: none;
 	background-color: rgba(0, 0, 255, 0.15);
    border-top: 1px solid black;
}

.substory {
	max-height: 30px;
	padding-left: 35px;
    border-top: 1px solid #ddd;
}

.story:hover, .substory:hover {
	cursor: pointer;
 	/*max-height: none;*/
}
.story:hover {
 	background-color: rgba(0, 0, 255, 0.2);
}
.substory:hover {
	background-color: rgb(235, 235, 235);
}


.story.selected {
 	background-color: rgba(0, 0, 255, 0.2);
}

.substory.selected {
 	/*background-color: rgb(0, 0, 0, 0.05);*/
 	max-height: none;
}

.substory.selected:hover {
 	background-color: white;
 	max-height: none;
}

.storyimg {
	max-width: calc(33vw - 40px);
}